.login-signupBtn{
    padding: 7px 12px !important;
}
.br-50{
    border-radius: 50% !important;
}
.logout-icon{
    font-size: 21px !important;
    margin: 4px 0px 0 2px;
}
.trash-btn-span {
    width: 40px !important;
    height: 40px !important;
}

.trash-btn-span i {
    font-size: 25px !important;
}

.redColor{
    color: red;
    margin-bottom: 5px;
}